body{
  margin: 0px;
}

.container{
  display: flex;
  flex-wrap: wrap;
}

h1{
  font-family: Georgia;
  font-size: 3em;
  border-bottom: 2px solid pink;
  border-right: 2px solid pink;
  width: 400px;
  text-align: center;
  box-shadow: 4px 4px 5px #888888;
  margin-top: 10px;
}
h1::before{
  content: "jafet ";
  background: orange;
}

h1::after{
  content: " terminator";
  background: orange;
}

p{
  background-color: cornflowerblue;
  font-family: Georgia;
  font-size: 15px;
  font-size: 
}

p::first-letter{
  font-size: 40px;
  color: gold;
}

img{
  width: 450px;
  height: 300px;
  margin: 10px;
  transition: all 1s;
}
img:hover{
  transform: scale(1.1);

}